
<div class="p-6 ">

  <!-- Button to Open Modal -->
  <button (click)="openModal()" class="bg-gradient-to-r from-emerald-600 to-emerald-900 text-white px-4 sm:px-6 py-2 rounded-xl font-semibold shadow-lg transition duration-200 tracking-wide hover:scale-105">
    {{ 'add-news'|translate }}
  </button>

  <!-- Modal Overlay -->
  <div *ngIf="isModalOpen"
       class="fixed inset-0 bg-black/70 flex items-center justify-center z-50 ">
    <!-- Modal Content -->
    <div class="bg-gray-50 rounded-3xl shadow-2xl w-full max-w-lg p-8 relative animate-fadeIn">
      <!-- Close Button -->
      <button (click)="closeModal()"
              class="absolute top-5 right-5 text-gray-400 hover:text-gray-700 text-2xl transition-transform transform hover:scale-110">
        &times;
      </button>

      <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">{{ 'add-news' |translate }}</h2>

      <!-- Reactive Form -->
      <form [formGroup]="newsForm" (ngSubmit)="addNews()" class="space-y-6">
        <div class="flex flex-col">
          <div class="w-full flex flex-row items-start justify-center gap-6">
            <!-- Image Preview -->
            @if (selectedImage) {
              <div class="relative w-40 h-40">
                <img [src]="selectedImage"
                     alt="Plate Image"
                     class="w-full h-full object-cover rounded-2xl border border-emerald-200 shadow-lg" />
                <button
                  (click)="removeImage()"
                  class="absolute top-2 w-7 right-2 bg-red-500 hover:bg-red-600 text-white rounded-full p-1 shadow">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>
                </button>
              </div>
            }

            <!-- Upload Box -->
            <label for="fileInput"
                   class="cursor-pointer w-40 h-40 flex flex-col items-center justify-center border-2 border-dashed border-emerald-300 rounded-2xl bg-emerald-50 hover:bg-emerald-100 transition">
              <svg class="w-10 h-10 text-emerald-500 mb-2" fill="none" stroke="currentColor" stroke-width="2"
                   viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/>
              </svg>
              <span class="text-emerald-700 font-medium text-sm">{{ 'click-to-upload' |translate }}</span>

              <input id="fileInput" type="file" (change)="onFileSelected($event)"
                     accept="image/*" class="hidden" />
            </label>
          </div>
        </div>

        <div class="flex flex-col">
          <label class="mb-2 font-medium text-gray-600">{{ 'title'|translate }}</label>
          <input type="text" formControlName="title"
                 class="w-full border border-gray-300 rounded-2xl px-4 py-3 focus:outline-none focus:ring-2 focus:ring-emerald-500 shadow-sm transition"/>
          <div *ngIf="newsForm.get('title')?.invalid && newsForm.get('title')?.touched"
               class="text-red-500 text-sm mt-1">{{ 'required'|translate }}</div>
        </div>

        <div class="flex flex-col">
          <label class="mb-2 font-medium text-gray-600">{{ 'description'|translate }}</label>
          <textarea formControlName="description"
                    class="w-full border border-gray-300 rounded-2xl px-4 py-3 focus:outline-none focus:ring-2 focus:ring-emerald-500 shadow-sm transition resize-none h-28"></textarea>
          <div *ngIf="newsForm.get('description')?.invalid && newsForm.get('description')?.touched"
               class="text-red-500 text-sm mt-1">{{ 'required'|translate }}</div>
        </div>



        <button type="submit"
                class="w-full bg-gradient-to-r from-emerald-500 to-emerald-700 text-white py-3 rounded-2xl font-semibold shadow-lg hover:scale-105 transform transition duration-300"
                [disabled]="newsForm.invalid">{{ 'save'|translate }}</button>
      </form>
    </div>

  </div>


  <div class="container mx-auto px-4 py-8 space-y-6">
    @for(news of allNews$ | async; track $index){
      <div class="bg-white rounded-xl shadow-lg overflow-hidden flex flex-col md:flex-row transform transition duration-300">

        <!-- News Image -->
        <img [src]="news.image" alt="News Image" class="w-full md:w-1/3 h-64 object-cover"/>

        <!-- Content -->
        <div class="p-6 flex-1">

            <h3 class="text-2xl font-semibold mb-3 text-gray-900">{{ news.title }}</h3>



          <p class="text-gray-700 mb-4">{{ news.description }}</p>
          <div class="flex justify-between items-center text-sm text-gray-400">
            <span>{{ news.createdDate | date:'medium' }}</span>
          </div>

        </div>
        <button (click)="deleteNews(news?.id)"
                class="bg-red-500 text-white px-3 py-1 text-sm hover:bg-red-600 focus:ring-2 focus:ring-red-500"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
        </button>
      </div>
    }
  </div>
</div>
