<div class="relative w-full h-[89vh] overflow-hidden">
  <div
    class="flex transition-transform duration-700 ease-in-out"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
  >
    @for (slide of slides; track $index) {
      <div class="relative w-full h-[89vh] flex-shrink-0">
        <img
          [src]="slide.image"
          alt="Slide Image"
          class="absolute inset-0 w-full h-full object-cover"
        />

        <div class="absolute inset-0 bg-black/40"></div>

        <div class="absolute inset-0 flex flex-col justify-end text-center p-8">
          <div class="translate-y-10 opacity-0 animate-slide-up animation-delay-300">
            <h2 class="text-3xl md:text-5xl font-bold text-white drop-shadow-lg">
              {{ slide?.title | lowercase | translate }}
            </h2>
            <p
              class="mt-4 text-lg md:text-2xl text-white font-light drop-shadow-md max-w-3xl mx-auto"
            >
              {{ slide.description | translate }}
            </p>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="absolute left-1/2 transform -translate-x-1/2 bottom-12 z-30 flex space-x-4">
    <button
      (click)="prev()"
      class="bg-white/20 backdrop-blur-lg hover:bg-white/40 text-white font-bold py-2 px-6 rounded-full transition-colors duration-300"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <button
      (click)="next()"
      class="bg-white/20 backdrop-blur-lg hover:bg-white/40 text-white font-bold py-2 px-6 rounded-full transition-colors duration-300"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>

  <div class="absolute bottom-6 left-1/2 transform -translate-x-1/2 flex space-x-2 z-30">
    @for (slide of slides; track $index) {
      <div
        class="h-2 w-2 rounded-full cursor-pointer transition-all duration-300"
        [ngClass]="{
          'bg-white w-6': currentIndex === $index,
          'bg-white/40': currentIndex !== $index
        }"
        (click)="currentIndex = $index"
      ></div>
    }
  </div>
</div>

<app-daily-dishes/>
<app-menu/>
<app-booking/>
<app-discount/>
