<section class="bg-gradient-to-b from-white via-emerald-50 to-white  py-16 px-4 min-h-screen flex items-center justify-center"  >
  <div class="max-w-6xl w-full mx-auto">
    <div class="text-center mb-16">
      <h1  class="text-4xl font-light text-gray-800 mb-2">
        {{ 'NEWS.HEADER' | translate }}
      </h1>
      <p class="mt-4 max-w-2xl mx-auto text-lg text-gray-600 dark:text-gray-400 font-light">
        {{ 'NEWS.SUBHEADER' | translate }}
      </p>
    </div>

    <div class="grid grid-cols-1 gap-8"  >
      @for (news of news | async; track $index) {
        <div
          class="relative bg-white dark:bg-gray-800 rounded-3xl overflow-hidden shadow-2xl shadow-gray-200/50 dark:shadow-gray-900/50 flex flex-col lg:flex-row transition-all duration-500 ease-in-out transform hover:scale-[1.01] hover:shadow-gray-300/60 dark:hover:shadow-gray-950/70"
        >
          @if (!news.expanded){

          <div class="lg:w-2/5 w-full relative">
            <img
              [src]="news.image"
              [alt]="news.title"
              class="h-64 lg:h-full w-full object-cover rounded-t-3xl lg:rounded-l-3xl lg:rounded-tr-none transition-transform duration-500 ease-in-out"
            />
          </div>
          }

          <div class="p-8 lg:p-12 lg:w-5/5 flex flex-col"  >
            <div>
              <h2 class="text-3xl md:text-4xl  text-gray-900 dark:text-gray-50 mb-4 tracking-tight leading-snug">
                {{ news.title }}
              </h2>

              <p   [@expandCollapse]="news.expanded ? 'expanded' : 'collapsed'"
                class="text-gray-600 dark:text-gray-400 text-base md:text-lg font-light leading-relaxed transition-all duration-500 ease-in-out"

              >
                {{ news.description }}
              </p>
            </div>

            <div class="mt-auto pt-6 border-t border-gray-200 dark:border-gray-700 flex justify-between items-center">
              <span class="text-gray-500 dark:text-gray-400 text-sm uppercase font-medium tracking-wide">
                {{ news.createdAt | date: 'longDate' }}
              </span>
              <button
                (click)="toggleExpand(news)"
                class="inline-flex items-center cursor-pointer justify-center rounded-full bg-emerald-500/10 px-4 py-2 text-sm font-medium text-emerald-600 transition-colors duration-300 ease-in-out hover:bg-emerald-500/20 dark:bg-emerald-400/10 dark:text-emerald-300 dark:hover:bg-emerald-400/20"
              >
                {{ news.expanded ? ('NEWS.READ_LESS' | translate) : ('NEWS.READ_MORE' | translate) }}
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
