<section class="py-16 px-6 min-h-screen bg-white">
  <div class="max-w-5xl mx-auto text-center">
    <h2
      class="text-4xl md:text-5xl font-serif font-normal  tracking-wide"
      style="color:#006442"
    >
      Il Nostro Menu
    </h2>
    @if (showHint) {
      <div [@fadeInOut] class="text-center mb-8 sm:hidden">
        <p class="text-sm text-gray-600 tracking-wide font-semibold">
          Swipe to see other categories
        </p>
        <img
          src="swipe-left.gif"
          alt="Swipe to scroll"
          class="w-10 mx-auto mb-2 pointer-events-none"
        />
      </div>
    }
    <!-- Tabs -->
    <div #tabsSection class="overflow-x-auto mt-4 mb-5 sm:mx-0 ">
      <div class="flex gap-3 min-w-max px-4 sm:px-0 mb-3 whitespace-nowrap">

        @for (cat of categories$; track cat) {
          <button
            (click)="setCategory(cat)"
            class="px-4 py-2 rounded-full hover:border-emerald-700 font-normal  border border-gray-300 text-base sm:text-lg cursor-pointer
              transition-colors duration-300 uppercase tracking-wide"
            [class.bg-emerald-100]="cat.name === selectedCategory?.name"
          >
            {{ cat?.name }}
          </button>
        }
      </div>
    </div>

    <!-- Menu Items -->
    <div class="grid sm:grid-cols-2 gap-8 text-left">
      @for (item of selectedCategory?.products; track item.name) {
        <div
          class="rounded-2xl p-6 border border-gray-300 cursor-pointer transition-colors duration-300 hover:border-emerald-700"
        >
          <div class="flex justify-between items-center mb-3">
            <h3 class="text-xl font-normal" style="color:#006442">{{ item.name }}</h3>
            <span class="font-normal text-lg" style="color:#EF4135">{{ item.price }}</span>
          </div>
          <p class="text-gray-700 text-sm leading-relaxed">{{ item.description }}</p>
        </div>
      }
    </div>
  </div>
</section>
