<section class="py-20 px-6 min-h-screen bg-gradient-to-b from-white via-emerald-50 to-white">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-5xl md:text-6xl font-extralight tracking-tight text-emerald-700 mb-8">
      Il Nostro Menu
    </h2>

    @if (showHint) {
      <div [@fadeInOut] class="text-center mb-10 sm:hidden">
        <p class="text-sm text-gray-500 font-semibold tracking-wide mb-2">
          Swipe to see other categories
        </p>
        <img src="swipe-left.gif" alt="Swipe to scroll" class="w-12 mx-auto pointer-events-none animate-bounce" />
      </div>
    }

    <!-- Tabs -->
    <div #tabsSection class="overflow-x-auto mb-10 py-2">
      <div class="flex gap-4 min-w-max px-4 sm:px-0">
        @for (cat of categories$; track cat) {
          <button
            (click)="setCategory(cat)"
            class="px-5 py-3 rounded-full text-base sm:text-lg font-medium uppercase tracking-wider transition-all duration-300 transform hover:scale-105 border-2
              border-transparent hover:border-emerald-500 shadow-md hover:shadow-lg"
            [class.bg-emerald-100]="cat.name === selectedCategory?.name"
            [class.text-emerald-700]="cat.name === selectedCategory?.name"
          >
            {{ cat?.name }}
          </button>
        }
      </div>
    </div>

    <!-- Menu Items -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 text-left">
      @for (item of selectedCategory?.products; track item.name) {
        <div
          class="bg-white/60 backdrop-blur-md rounded-3xl p-6 shadow-lg hover:shadow-2xl border border-gray-200 transition-all duration-500 cursor-pointer"
        >
          <div class="flex justify-between items-center mb-4">
            <h3 class="text-2xl font-semibold text-emerald-700">{{ item.name }}</h3>
            <span class="font-semibold text-lg text-red-500">{{ item.price }}</span>
          </div>
          <p class="text-gray-600 text-sm leading-relaxed">{{ item.description }}</p>
        </div>
      }
    </div>
  </div>
</section>
